.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #0f5005f1;
}

.nav img {
  height: 80px;
}

body {
  max-width: 100vw;
}

.section-video {
  background-color: var(--secondary-green);
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 80px;
}

.section-video .container-video {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  color: #fff;
  text-decoration-line: underline;
  font-weight: 600;
  font-size: 1.5em;
}

.section-video .container-video .video {
  width: 100%;
  height: 500px;
}

.section-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2em;
}
