:root {
  --primary-yellow: #f7bc0e;
  --primary-green: #55ac25;
  --secondary-green: #608018;
  --tertiary-green: #12491d;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html {
  font-size: 15px;
}
